#bodyTag {
    background-image:
    repeating-linear-gradient(90deg,
    /* #ab12e3 10%,
    #eb57cd 10%,
    #eb57cd 20%,
    #a854e8 20%,
    #a854e8 30%,
    #ba08f0 30%,
    #ba08f0 40%,
    #eb07d8 40%,
    #eb07d8 50%,
    #ab12e3 50%,
    #ab12e3 60%,
    #eb57cd 60%,
    #eb57cd 70%,
    #a854e8 70%,
    #a854e8 80%,
    #ba08f0 80%,
    #ba08f0 90%,
    #eb07d8 90%,
    #eb07d8 100%); */
    white 10%,
    ivory 20%,
    rgb(252, 241, 241) 20%,
    ivory 30%,
    white 30%,
    ivory 40%,
    linen 50%);
    padding: 70px;
    
}

#mainCard{
    margin-left:auto;
    margin-right:auto;
}

#myName {
    text-align: center; letter-spacing: 1em; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#jtron {
background-color:black; color:ivory; text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{width:100%}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{width:100%}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{width:100%}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{width:100%}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{width:100%}
}